# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Database and Logs
data/
*.bak
logs/*.log
*.log

# Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Editor and IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
